.moviesCard {
    position: relative;
    max-width: 360px;
    max-height: 233px;
}

.moviesCard-image {
    width: 360px;
    height: 201px;
    border-radius: 8px;
    margin-bottom: 14px;
    cursor: pointer;
    object-fit: cover;
}

.moviesCard__link {
    display: block;
    width: 100%;
    height: 201px;
    margin-bottom: 14px;
}

.moviesCard__link:hover + .moviesCard__button {
    opacity: 1;
    transition: opacity .2s linear;
}

.moviesCard__link:hover + .moviesCard__button_active_saved-movies {
    opacity: 1;
    transition: opacity .2s linear;
}

.moviesCard__title {
    width: 250px;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    margin: 0;
}

.moviesCard__duration {
    width: 52px;
    height: 12px;
    text-align: center;
    align-self: center;
    margin: 0;
    padding: 3px 0;
    font-weight: 400;
    font-size: 11px;
    line-height: 10px;
    color: #8B8B8B;
    border-radius: 3px;
    background: #2F2F2F;
}

.moviesCard__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.moviesCard__button {
    position: absolute;
    top:14px;
    right: 14px;
    padding: 0;
    border: none;
    width: 72px;
    height: 21px;
    background-color: #313131;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 10px;
    line-height: 9px;
    border-radius: 30px;
    cursor: pointer;
    opacity: 0;
    transition: opacity .2s linear;
}

.moviesCard__button:hover {
    opacity: 0.8;   
}

.moviesCard__button_active_movies {
    width: 21px;
    height: 21px;
    background: url(../../images/button-saved-movie.svg);
    opacity: 1;
    transition: opacity .2s linear;
}

.moviesCard__button_active_movies:hover {
    opacity: 0.8;
    background: url(../../images/button-delete.svg) center no-repeat #313131;
}

.moviesCard__button_active_movies:hover {
    opacity: 1;
}

.moviesCard__button_active_saved-movies {
    width: 21px;
    height: 21px;
    background: url(../../images/button-delete.svg) center no-repeat #313131;
    border-radius: 30px;
    transition: opacity .2s linear;
    cursor: pointer;
    opacity: 0;
}

.moviesCard__button_active_saved-movies:hover {
    opacity: 0.8;
}

@media all and (max-width: 1145px) {
    .moviesCard {
        max-width: 339px;
        max-height: 222px;   
    }

    .moviesCard-image {
        width: 339px;
        height: 190px;
        margin-bottom: 25px;
    }

    .moviesCard__link {
        height: 190px;
    }

    .moviesCard__container {
        justify-content: space-between;
    }
}

@media all and (max-width: 715px) {
    .moviesCard {
        max-width: 300px;
        max-height: 200px;
    }
    
    .moviesCard-image {
        width: 300px;
        height: 168px;
        margin-bottom: 13px;
    }

    .moviesCard__link {
        height: 168px;
    }

    .moviesCard__title {
        font-size: 12px;
        line-height: 14.52px;
    }
}