.Promo {
    max-width: 1200px;
    min-height: 493px;
    margin: 0 40px 110px;
    background-color: #272727;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
}

.Promo__title {
    max-width: 730px;
    max-height: 116px;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    margin: 160px auto 151px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    color: #FFFFFF;
    letter-spacing: -2px;
}

@media all and (max-width: 850px) {
    .Promo {
        min-height: 834px;
        margin: 0 20px 90px;
    }

    .Promo__title {
        width: 92%;
        max-height: 104px;
        font-size: 40px;
        line-height: 52px;
        letter-spacing: -1.6px;
        margin: 350px auto 314px;
    }
}

@media all and (max-width: 560px) {
    .Promo {
        min-height: 586px;
        margin: 0 14px 70px;
    }

    .Promo__title {
        max-height: 111px;
        width: 100%;
        font-size: 29px;
        line-height: 37px;
        letter-spacing: -1.16px;
        margin: 220px auto 212px;
    }
}